@model List<Blog>
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Blog List</h2>
        </div>

        <div class="col-6">
            <a asp-controller="Blog" asp-action="Create" class="btn btn-primary">
                Create New Blog
            </a>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Title Blog
                    </th>
                    <th>
                        Short_content
                    </th>
                    <th>
                        Full_content
                    </th>
                    <th>
                        Publish_date
                    </th>
                    <th>
                        ImageUrl
                    </th>
                    <th>
                        Category Name
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var blog in Model)
                {
                    <tr>
                        <td width="10%">
                            @blog.Title
                        </td>
                        <td width="10%">
                            @blog.Short_content
                        </td>
                        <td width="10%">
                            @blog.Full_content
                        </td>
                        <td width="10%">
                            @blog.Publish_date
                        </td>
                        <td width="20%">
                            <img class="img-responsive fit-image" style="width:150px;text-align:center" src="/images/@blog.ImageUrl" alt="Alternate Text" />
                        </td>
                        <td width="10%">
                            @blog.Category.CategoryName
                        </td>
                        <td width="20%">
                            <div>
                                <a asp-controller="Blog" asp-action="Edit" asp-route-Id="@blog.Id" class="btn btn-primary">Edit</a>
                                <a asp-controller="Blog" asp-action="Delete" asp-route-Id="@blog.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </td>

                    </tr>

                }
            </tbody>
        </table>


    }
    else
    {
        <p>Không tồn tại thể loại trong database</p>
    }


</div>